body *{
    font-family: 'Poppins', sans-serif;
}

header{
    text-align: center;
    font-size: 60px;
}

.contenido{
    padding-top: 63px;
}

#navbar{
    position: fixed;
    z-index: 99;
    width: 100%;
    font-size: 20px;
}

#ul{
    margin-right: 25% !important;
}

#navbar #principal{
    font-size: 25px;
}

#indicador{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
    background-color: #444444;
    border-radius: 50px;
    opacity: 0.6;
    height: 50px;
    width: 50px;
    align-items: center;
}

#indicador i{
    font-size: 40px;
}

div ul li a{
    align-content: center;
}

.parallax{
    background-image: url(../multimedia/parallax-1.jpg);
    height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.linea hr{
    width: 100px;
    border: 2.1px solid #E7B5E3;
    margin-left: auto;
    margin-right: auto;
}

#contenido {
    position: relative;
    width: 640px;
    height: auto;
    margin: 20px auto;
    border: 12px solid #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(50,50,50 0.5);
}

div h5{
    font-size: 80px;
}

div p{
    font-size: 40px;
}

div .card p{
    font-size: 15px;
}

div .card img{
    height: 290px;
}

div .card h5{
    font-size: 20px;
}

section img{
    padding-top: 20px;
    padding-bottom: 20px;
}

#produPrincipal a, #sendMessageButton{
    color: black;
    background-color: #E7B5E3;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    opacity: 0.5;
    font-size: 25px;
}

#produPrincipal a:hover, #sendMessageButton:hover{
    transition: all 0.2s ease-in-out;
    opacity: 1;
    transform: scale(1.1);
}

footer{
    color: white;
    background-color: #000000;
}

footer h1{
    font-size: 20px !important;
    text-align: left !important;
}

.container{
    padding-bottom: 34px;
}
footer a{
    display: inline-block;
    color: #E7B5E3;
    text-decoration: none;
    padding: 15px;
}

footer p{
    font-size: 15px;
    margin-bottom: 0;
    text-align: justify;
}

#producto .col-12 img, #producto .col-lg-6 img{
    width: 100%;
    height: auto;
}


#producto .col-12 h2, #producto .col-lg-6 h2{
    font-size: 20px;
    text-align: center;
}

#producto .col-12 p, #producto .col-lg-6 p{
    font-size: 19px;
    color: #929292;
}

#productos{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#productos:hover{
    transform: scale(1.1);
}

#productos .bot{
    color: black;
    background-color: #E7B5E3;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    opacity: 0.5;
    padding: 5px;
    text-decoration: none;
}

#productos a:hover { 
    opacity: 1;
}

table, th, td{
    border: 1px solid rgb(197, 203, 213);
    border-collapse: collapse;
}

.mapa iframe{
    width: 100%;
    height: 600px;
}

div h1{
    text-align: center;

}

.mapa iframe{
    width: 100%;
    height: 200px;
}

div .mapa h1{
    text-align: center;
    font-size: 60px;
}

body main {
    background: url('https://picsum.photos/2000/1000?random=1') no-repeat;
}



.group{
    border: 1px solid;
}

.formulario input, .formulario textarea{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;

}
.formulario textarea{
    height: 200px;
}

.formulario button{
    width: 200px;
    background-color: purple;
    color: white;
    font-size: 20px;
    margin-top: 30px;
    border-color: purple;

}

.formulario #input{
    margin-bottom: 24px;
}

#DatosContacto p{
    font-size: 15px;
}

#productos{
    transition: all 0.5s;
}

#productos:hover{
    transition: all 0.5s;
    background-color:#EFEEEE;
}

*,*:after, *:before{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#contenedor_carga{
    background-color: rgba(250, 240, 245, 0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
}

.loader{
    height: 100px;
    width: 100px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-top-color: #fff;
    border-bottom-color: #fff;
    animation: spinner3 800ms ease infinite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
} 
@keyframes spinner3 { 
    to { 
        transform: rotate(360deg);
    } 
}

#zoom img{
    -webkit-transition:all .9s ease; /* Safari y Chrome */
    -moz-transition:all .9s ease; /* Firefox */
    -o-transition:all .9s ease; /* IE 9 */
    -ms-transition:all .9s ease; /* Opera */
    width:100%;
}

#zoom:hover img{
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
}

#zoom{
    width:auto;
    height:auto;
    overflow:hidden;
}

.boton{
    border-color: #E7B5E3;
    background-color: white;
    color: #E7B5E3;
}

.boton:hover{
    background-color: #E7B5E3;
    color: white;
}