header{
    text-align: center;
    font-size: 60px;
}

.container{
    margin-top: 20px;
    border-radius: 10px;
}

.nav-link[data-toggle].collapsed:after {
    content: "▾";
}
.nav-link[data-toggle]:not(.collapsed):after {
    content: "▴";
}

#panel a{
    font-size: 25px;
}

table{
    margin-top: 20px;
}

table img{
    width: 150px;
    height: 150px;
}

a{
    color: white !important;
    text-decoration: none;
}


#login{
    display: flex;
    justify-content: center;
    align-items: center;
}
